root = true

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
trim_trailing_spaces = true
indent_style = space

[*.py]
indent_size = 4
max_line_length = 80

[*.xml]
indent_size = 4

[*.json]
indent_size = 2

[.travis.yml]
indent_size = 2

[*.md]
trim_trailing_spaces = false
max_line_length = 80
